.git/*
env/
venv/
sent_emails/
.vscode/
__pycache__/
*.py[cod]

media/
posts/migrations/


mysite_nginx.conf
uwsgi_params
yatube_nginx.conf

.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
posts/static/
media/

db.sqlite3
