{% extends "post.html" %}
{% block title %}Записи {{ author.username }}{% endblock %}
{% block content %}
         
<div class="col-md-9">  
              
    {% for post in posts %}                         
                                       
        {% include "post_display.html"  %}
                  
    {% endfor %}                
                
    {% block footer %}        
        {% if posts.has_other_pages %}
            {% include "paginator.html" with items=posts paginator=paginator%}
        {% endif %}
    {% endblock footer %}  
     </div>
    </div>
</main>
{% endblock content%}